body {
    font-size: 12pt;
}

h1 {
    background-color: #5495D5;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-size: 14pt;
    font-weight: normal;
    padding: 2px 6px;
}

table {
    border-collapse: collapse;
    empty-cells: show;
    border: 1px solid #88a4d7;
    margin: 6px 0px;
    width: 100%;
}

th {
    border: 1px solid #88a4d7;
    padding: 1px 2px;
    background: #D1D9E8 no-repeat right center;
}

tr {
    background-color: #fbfbfb;
    border-bottom: 1px solid #88a4d7;
}
tr.alt {
    background-color: #f5f5f5;
    border-bottom: 1px solid #88a4d7;
}